.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.button{
  display:flex;
}
.body{
  background-image: url(https://cdn.wedevs.com/uploads/2021/11/Top-Project-Management-Strategies-to-Follow-For-Project-Success-project-management-strategies-720.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  width: '100vw';
  height: '100vh';
}
.img{
  border-radius: 55px 55px 55px 55px; 
}

.App-link {
  color: #61dafb;
}
.span {
  color: red;
  float: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
